<!Doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>Show message</title>
</head>
<body>
  <h2>ボード一覧</h2>
  <table border="1">
      <% for( let row of data ) { %>
        <tr>
            <td><%= row.id %></td>
            <td><%= row.name %></td>
        </tr>
      <% } %>
  </table><br>
  <input type="button" onclick="history.back()" value="戻る">&nbsp<input type="button" onclick="location.href='/public/insert_board.html'" value="追加">
</body>
</html>