<!Doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>Show message</title>
</head>
<body>
  <p><%= mes %></p>
  <h2>Snow Board</h2>
  <a href="/maker">ボードメーカー一覧</a><br>
  <a href="/public/search01.html">ボード検索</a>
  
</body>
</html>